PROVIDER_URL="https://sepolia.infura.io/v3/"
DUSK_MIGRATION_CONTRACT_ADDRESS="0x"

ETH_MAINNET_PROVIDER_URL="https://mainnet.infura.io/v3/"
ETH_ONRAMP_CONTRACT_ADDRESS="0x8787BbE53920B33411F7C9A91Ac321AF1ea1aa2d"
ETH_ONRAMP_DEPLOY_BLOCK="21445561"

BSC_MAINNET_PROVIDER_URL="https://bsc-mainnet.infura.io/v3/"
BSC_ONRAMP_CONTRACT_ADDRESS="0x3886ab688feBfF60cE21E99251035F8E29Abca31"
BSC_ONRAMP_DEPLOY_BLOCK="45046348"
